.sidebar-item {
    display: block;
    padding: 12px 16px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 12px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.25s;
}

/* Active Sidebar Item */
.sidebar-active {
    background: rgba(255, 255, 255, 0.35) !important;
    color: #4b0082 !important; /* Purple text */
    font-weight: 600 !important;
    transform: translateX(6px);
}

/* Active icon color */
.sidebar-active svg {
    color: #4b0082 !important;
}

.sidebar-item:hover {
    background: rgba(255, 255, 255, 0.25);
    transform: translateX(6px);
}
